<% for work in @works %>
<div class="work"> 
  <div class = "work_info">
    <ul>
      <li><%= link_to work.name, work %></li>

      <li><em>Submitted by: </em><%= work.submitter %></li>
      <li>Number of Opinions Recorded: <b><%=work.results_count%></b></li>
      <li>Fair Use Score: ?????</li>
    </ul>
  </div>
  
  <div class = "work_pic">
    <% if !work.thumb_url.nil? %>
      <%= link_to image_tag(work.thumb_url, 
                            :alt => work.name, 
                            :size => "150x84"), 
                            work_path(work.id) %>
    <% end %>
  </div>
</div
<% end %>

<div class= "pagination" style="clear:both; display:block;">
  <%= will_paginate @works %>
</div>