<% title "submit a new work" %>>
<h2><%= yield(:title) %></h2>
<%= error_messages_for 'work' %>
<div id="left" class="span-8">

  <% form_for @work do |f| %> 
  
   name of work:<br / >
   <div><%= f.text_field :name, :size=>30 %> </div>
   <br / >
  
   url:  <br / >
   <div><%= f.text_field :url, :value =>"http://", :size=>30 %> </div>
  <br / >
  
   Your name: <br / > 
   <div><%= f.text_field :submitter, :size=>30 %> </div>
   <br / >
  
  
  <p> 
    <button type="submit" class="button positive">
    	  <img src="/stylesheets/blueprint/plugins/buttons/icons/tick.png" alt=""/> Save
    </button>
  </p> 
  <% end %> 

</div>
<div id="right" class="span-14">
<h3>Videos are automagicly grabbed from any of the following services.  
  Just paste the URL into the URL box!</h3>
  <ul>
    <li>-   [Youtube] (http://www.youtube.com/)      </li>
    <li>-   [Google video] (http://video.google.com/)</li>
    <li>-   [Vimeo] (http://vimeo.com/)              </li>
    <li>-   [Flickr (videos)] (http://flickr.com/)   </li>
    <li>-   [Metacafe] (http://metacafe.com/)        </li>
    <li>-   [Dailymotion] (http://dailymotion.com/)  </li>
    <li>-   [Collegehumor] (http://collegehumor.com/)</li>
    <li>-   [Blip.tv] (http://blip.tv/)              </li>
    <li>-   [Myspace] (http://vids.myspace.com/)     </li>
    <li>-   [Ted Talks] (http://www.ted.com/talks/)  </li>
    <li>-   [11870.com] (http://11870.com/)          </li>
    <li>-   [Qik] (http://qik.com/)                  </li>
    <li>-   [Marca.tv] (http://www.marca.tv/)        </li>
    <li>-   [Dalealplay] (http://www.dalealplay.com/)</li>
  </ul>
</div>