<%= javascript_include_tag "jquery.ba-url.min", "pagination" %>
<% title @work.name %>
<h2><%=link_to @work.name, @work.url %> </h2>
<div id="work_info" class = "span-12">
  <h3>source url: <%=@work.url%></h3>
  <h3>fair use score: ??????<%= %></h3>
  <h3>Submitted by: <%= @work.submitter %></h3>
  <p>Number of Surveys completed for this item: <%= @work.results_count %> </p>
  <div id="button">
    <a class="button" href="<%= new_work_result_path(@work)%>" >
    	  <img src="/stylesheets/blueprint/plugins/buttons/icons/tick.png" alt=""/> 
    	    Assess Fair Use
    </a>
  </div>
</div>

<div class="span-12 last">
  <% if !@work.embed_url.nil? %>
    <div id = "video" class="prepend-3">
      <%= @work.embed_url%> 
    </div>
  <% end %>
</div>




<div class= "span-24 last">
  <div id ="graph">
    <% if !@work.results.empty? %>
      <img src=<%= GoogleChart.pie_3d_350x150('yes'=>@work.positive_count, 
                                              'no' =>@work.results_count-@work.positive_count
                                              ).to_url %> alt="graph"</img> 
    <% else %>
        no results, no graphs!
    <% end %>
  </div>
  <div id = "center">
    <% if @work.results.empty? %>
    <em>No Results for this work yet!</em>
    <% else %>
    <div id = "result_table">
        <%= render :partial => 'results/result'%>
    </end>
    <% end %>
  </div>
</div>
