<tr>
  <td><%=result.id%></td>
  <td class="odd"><%= result.q1%></td>
  <td><%= result.q2%></td>
  <td class="odd"><%= result.q3%></td>
  <td><%= result.q4%></td>
  <td class="odd"><%= result.q5%></td>
  <td><%= result.q6%></td>
  <td class="odd"><%= result.created_at.to_formatted_s(:short)%></td>
</tr>
