<% title "submit a new result" %>
<h2><%= yield(:title) %> for "<%= @work.name %>"</h2>
<%= error_messages_for 'result' %>

<div id="survey">
  <% form_for :result, @result, :url => { :action => "create" } do |f| %>
      <div class="questions">
        <h3>1. Purpose of the new work</h3>
        <ul>
          <li><%= radio_button("result", "q1", 10)%>Criticism</li>
          <li><%= radio_button("result", "q1", 10)%>Commentary</li>
          <li><%= radio_button("result", "q1", 10)%>News Reporting</li>
          <li><%= radio_button("result", "q1", 10)%>Teaching</li>
          <li><%= radio_button("result", "q1", 10)%>Scholarship</li>
          <li><%= radio_button("result", "q1", 10)%>Research</li>
          <li><%= radio_button("result", "q1", 10)%>Personal Copy</li>
          <li><%= radio_button("result", "q1", 0)%>Other</li>
        </ul>
      </div>


      <div class="questions">
        <h3>2. Character of the new work</h3>
        <ul>
          <li><%= radio_button("result", "q2", -10)%>Commercial</li>
          <li><%= radio_button("result", "q2", 10)%>Non-Commercial</li>
        </ul>
      </div>

      <div class="questions">
        <h3>3. Use of the original work in new work</h3>
        <ul>
          <li><%= radio_button("result", "q3", 10)%>Transformation</li>
          <li><%= radio_button("result", "q3", 10)%>Parody</li>
          <li><%= radio_button("result", "q3", -10)%>Neither Transformation nor Parody</li>
        </ul>
      </div>
  
      <div class="questions">
        <h3>4a. Nature of the original copyrighted work</h3>
        <ul>
          <li><%= radio_button("result", "q4", 5)%>Published</li>
          <li><%= radio_button("result", "q4", -5)%>Unpublished</li>
        </ul>
        
        <h3>4b. Nature of the original copyrighted work</h3>
        <ul>
          <li><%= radio_button("result", "q5", -5)%>Creative</li>
          <li><%= radio_button("result", "q5", 5)%>Not Creative</li>
        </ul>
      </div>

      <div class="questions">
        <h3>5. Amount of the original work being used in new work</h3>
        <ul>
          <li><%= radio_button("result", "q6", -10)%>Most of it</li>
          <li><%= radio_button("result", "q6", -10)%>Just the essential parts</li>
          <li><%= radio_button("result", "q6", -10)%>Most of it and the essential parts</li>
          <li><%= radio_button("result", "q6", 10)%>
            Neither most of the copyrighted work nor the essential parts</li>
        </ul>
      </div>

      <div class="questions">
        <h3>6. Financial impact of new work</h3>
        <ul>
          <li><%= radio_button("result", "q7", -10)%>
            Damages a current or potential market for original copyrighted work</li>
          <li><%= radio_button("result", "q7", 10)%>
            Does not damage a current or potential market for original copyrighted work</li>
        </ul>
      </div>
      <button type="submit" class="button positive">
        <img src="/stylesheets/blueprint/plugins/buttons/icons/tick.png" alt=""/> Is it Fair Use?
      </button>
  <% end %>
</div>
