<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
 xml:lang="en" lang="en"> 
<head> 
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <title>the berkman center for internet & society fair use tool -  <%= yield(:title) || "home" %></title></title> 
  <%= stylesheet_link_tag 'blueprint/screen' %> 
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %> 
</head>
<body> 
  
  <h1 style ="margin-bottom:0px;">
    the berkman center for internet & society fair use tool
 </h1>
 
  <div id="content">
     <div class="container">
       <div class = "span-24 last">
          <% unless flash[:notice].blank? %>
            <div id="notification"><%= flash[:notice] %> </div>
          <% end %>
      </div>
      <%= yield %> 
    </div>
  </div>
  
  <div id ="navigation">
    <uldo
      <li><%= link_to 'home', works_path %></li>
      <li><%= link_to 'submit a new work', new_work_path %></li>
      <li><%= link_to 'help', help_path %></li>
      <li><%= link_to 'directions', directions_path %></li>
      <li><%= link_to 'about', about_path %></li>
    </ul>
  </div>
  
  
</body>
</html>